Quarkus ForwardedParser does not validate proto values from Forwarded and X-Forwarded-Proto headers

### Describe the bug

(this is somewhere between question and bug report)

In Keycloak we have users experimenting with invalid values for the proto values https://github.com/keycloak/keycloak/issues/49293, the `io.quarkus.vertx.http.runtime.ForwardedParser` accepts invalid proto values for proto from `Forwarded` and `X-Forwarded-Proto` headers. Then `org.jboss.resteasy.reactive.server.jaxrs.LocationUtil` just passes them down to the `URI` constructor which detects invalid chars like `:` or `/` and sets the scheme to `null`:

https://github.com/quarkusio/quarkus/blob/ea1fd273059185d4cbbccec79b59ee3611b67628/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/jaxrs/LocationUtil.java#L32

The [RFC 7239 section 5.4](https://datatracker.ietf.org/doc/html/rfc7239#section-5.4) says `MUST conform to the URI scheme name as defined ...` and that  does not allow `:` or `/`. On the other hand I interpret [section 8 Security Considerations](https://datatracker.ietf.org/doc/html/rfc7239#section-8) as that we cannot rely on the headers to be correct.

My question is whether Quarkus shouldn't validate the scheme instead of just accepting any value. The issue is that the forwarded parser is lazy and only calculate the scheme when something needs respective `io.vertx.core.http.HttpServerRequest` attributes like scheme, port etc. Therefore we cannot just return 400 if we do this lazily.

My personal opinion is that we should calculate it eagerly and do `event.response().setStatusCode(400).end();`. 

### Expected behavior

IMO Quarkus should validate scheme and fail for invalid scheme.

### Actual behavior

Any proto value is accepted.

### How to Reproduce?

```
curl -v -H "X-Forwarded-Proto: /just/a/path" http://localhost:8080/realms/master/protocol/openid-connect/login-status-iframe.html
curl -v -H "X-Forwarded-Proto: ://" http://localhost:8080/realms/master/protocol/openid-connect/login-status-iframe.html
```

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### Quarkus version or git rev

_No response_

### Build tool (ie. output of `mvnw --version` or `gradlew --version`)

_No response_

### Additional information

If we agree to perform validation, I am happy to implement it.

\cc @cescoffier 

> My personal opinion is that we should calculate it eagerly and do event.response().setStatusCode(400).end();.

I personally think this makes sense, but I would consider it a breaking change. @cescoffier do you agree?

It's a breaking change, and has a non-meaningless performance cost. So, yes, but behind a flag (probably enabled by default). 

> It's a breaking change, and has a non-meaningless performance cost. So, yes, but behind a flag (probably enabled by default).

got it, thanks for the feedback