OIDC DPoP Nonce response uses from status code and message

### Describe the bug

The spec at https://www.rfc-editor.org/rfc/rfc9449.html#section-8 describes that for a missing or invalid nonce, the server should return `400` and `use_dpop_nonce`, but Quarkus fails do to that.

When using Quarkus for example with a DPoP supporting client like https://github.com/panva/openid-client, that client will not automatically retry on outdated or invalid nonces. It would still work on missing nonces, as it only checks the error code, but not the HTTP status code.  

### Expected behavior

On both missing and invalid nonce,  return `401` and `use_dpop_nonce`.

See https://www.rfc-editor.org/rfc/rfc9449.html#section-8 for the details.

> In this case, the authorization server responds to requests that do not include a nonce with an HTTP 400 (Bad Request) error response per Section 5.2 of [RFC6749] using use_dpop_nonce as the error code value. [...] This same error code is used when supplying a new nonce value when there was a nonce mismatch.

In https://www.rfc-editor.org/rfc/rfc9449.html#name-resource-server-provided-no, this then states that 

> They provide the nonce using the DPoP-Nonce header in the same way that authorization servers do as described in Sections 8 and 8.2.

### Actual behavior

One missing nonce, return `401` and `use_dpop_nonce`

One invalid nonce, return `401` and `invalid_dpop_proof`

### How to Reproduce?

There is a test case that shows the problematic behavior in the test suite:  

https://github.com/quarkusio/quarkus/blob/ba8a931fd60eb8e3bd7630f41073a1848325e099/integration-tests/oidc-dpop/src/test/java/io/quarkus/it/keycloak/OidcDPopNonceTest.java#L57-L121

### Output of `uname -a` or `ver`

any

### Output of `java -version`

any

### Quarkus version or git rev

any

### Build tool (ie. output of `mvnw --version` or `gradlew --version`)

any

### Additional information

The problematic behavior was introduced in the initial implementation https://github.com/quarkusio/quarkus/pull/52090 - cc @michalvavrik 

I'll start working on a PR. 

@ahus1 You are linking to the section describing how an `authorization server`, such as Keycloak must react.

In context of Quarkus, https://www.rfc-editor.org/rfc/rfc9449.html#name-resource-server-provided-no is relevant.

Looks like this issue is invalid

@sberyozkin - thank you for this pointer, I missed that. 

With that, I agree that it should then return 401 as it is doing now. 

Still, the problem that a client like  https://github.com/panva/openid-client doesn't retry on an invalid nonce is real. When they write 

> They provide the nonce using the DPoP-Nonce header in the same way that authorization servers do as described in Sections 8 and 8.2.

Where 8.0 states: 

> In this case, the authorization server responds to requests that do not include a nonce with an HTTP 400 (Bad Request) error response per Section 5.2 of [RFC6749] using use_dpop_nonce as the error code value. [...] This same error code is used when supplying a new nonce value when there was a nonce mismatch.

So I still think that Quarkus should provide `use_dpop_nonce` where it today provides `invalid_dpop_proof` when there is a `nonce` mismatch. Once that is in place, a library like `openid-client` would start to work with their automatic retry on that code. 

WDYT? 



@ahus1 

>So I still think that Quarkus should provide use_dpop_nonce

You are right, sounds good

Updated the bug description based on the last three comments so it will match the updated PR. 